.card-content {
    padding: 10%;
    max-width: 600px;
    max-height: 800px;
    text-align: center;
    margin: auto;
  }
  
  .header {
    text-align: center;
    color: cyan;
  }
  
  .full-width {
    width: 80%;
  }
  
  .email-input {
    padding-top: 10px;
  }
  
  .login {
    padding-top: 2%;
    font-weight: 600;
  }
  
  .login a {
    color: aqua;
  }
  