<div class="content-body">
  <p color="primary" class="title">EXPLORE COGNOS DATA ANALYTICS</p>
  <div class="padding">
    <button
      (click)="dataExplore()"
      class="width"
      mat-flat-button
      color="primary"
    >
      Data Exploration
    </button>
  </div>
  <div class="padding">
    <button (click)="dashboard()" class="width" mat-flat-button color="primary">
      Dashboard
    </button>
  </div>
  <div class="padding">
    <button (click)="report()" class="width" mat-flat-button color="primary">
      Report
    </button>
  </div>
  <div class="padding">
    <button (click)="story()" class="width" mat-flat-button color="primary">
      Story
    </button>
  </div>
</div>
