.content-body {
    text-align: center;
  }
  
  .title {
    padding-top: 15%;
    padding-bottom: 2%;
    font-weight: bolder;
    color: cyan;
    font-size: xx-large;
  }
  
  .padding {
    padding: 1%;
  }
  
  .width {
    width: 180px;
  }
  